@import url('https://fonts.googleapis.com/css?family=Almarai:400,700&amp;display=swap');

.appointment_menu_item {
  float: left;
  /*background: #00b5cb;*/
}

header.header-v3 .header-main .header-bottom .gva-search-region {
  left: 200px;
  right: auto;

}

header .gva-search-region {
  right: auto;

}

.search-region {
  right: auto;
}

@media (min-width: 992px) {
  .navigation .gva_menu .sub-menu {

    right: 0px;
    left: auto;


  }
}


@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: right;
  }

}

header .header-info .icon {

  float: right;

}

header .header-info .content-inner {
  padding-left: 0px;
  padding-right: 45px;

}

.header-right .block {

  text-align: right;
}

@media (min-width: 992px) {
  .navigation .gva_menu li a {
    text-align: right !important;;

  }

}

@media (min-width: 992px) {
  .navigation .gva_menu .sub-menu > li > a {
    display: block;
    padding-right: 28px;
    padding-left: 20px;
  }
}


@media (min-width: 992px) {
  .navigation .gva_menu .sub-menu > li > a:before {

    right: 15px;
    left: auto;
    content: '\f0d9';

  }

}


@media (min-width: 992px) {
  .navigation .gva_menu .megamenu > .sub-menu > li > ul.sub-menu li a {
    padding: 0 15px 0 0;
  }

}

@media (min-width: 992px) {
  .navigation .gva_menu .megamenu > .sub-menu > li > ul.sub-menu li a:before {
    right: 0;
    left: auto;
  }

}

@media (min-width: 992px) {


  .navigation .gva_menu > li.megamenu.menu-columns-4 > ul.sub-menu > li {
    width: 25%;
    float: right;
  }

}

.breadcrumb-content-inner .gva-breadcrumb-content .breadcrumb-links {

  float: right;
}

nav.breadcrumb ol > li {
  float: right;
  font-size: 13px;
}


nav.breadcrumb ol > li span {
  padding: 0 0px 0px 2px;
}

.gsc-tabs .tabs_wrapper.tabs_vertical .nav-tabs {

  float: right;
  padding-right: 0px;
}


.gsc-tabs .tabs_wrapper.tabs_vertical .nav-tabs > li button {

  text-align: right;

}

.gsc-tabs .tabs_wrapper.tabs_vertical .tab-content {

  padding-right: 15px;
  padding-left: 0px;
}

ul li i {
  margin-right: 0px;
  margin-left: 3px;
}

.widget.gsc-icon-box.top-left-title .highlight-icon {
  padding-right: 0px;
  padding-left: 15px;

}

.why-us-block .why-us-content .why-us-name {
  text-align: right;
}

.facilities-slider .item-columns, .about-us-team-list .item-columns {

  float: right;
}


body {

  font-family: 'Almarai', sans-serif;
  font-size: 16px;

}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Almarai', sans-serif;
  font-weight: 700;
}

.bottom-contact-info {
  padding-right: 0px;
}

.bottom-contact-info i {

  float: right;
}

.socials a {

  margin-left: 12px;
  float: right;
  margin-right: 0px;
}

.block .block-title:after {
  right: 0;
  left: 0px;
}

.nav-tabs, .topbar ul, ul.contact-info, ul.menu {

  padding-right: 0px;
}

ul.menu > li a {

  padding-left: 0px;
  padding-right: 15px;
}

ul.menu > li a:after {

  content: '\f0d9';
  left: auto;
  right: 0;
}

.btn, .btn-white, .btn-theme, .more-link a {

  padding: 0 15px 0 45px;
}

.working_hours_bottom_disktop .btn-theme:after {
  content: '\e9a3';
}

.btn:after, .btn-white:after, .btn-theme:after, .more-link a:after {

  left: 5px;
  right: auto;
}

.why-us-block .why-us-content .why-us-name {

  font-size: 11px;
}

.panel .panel-heading .panel-title {
  padding-left: 20px;
  padding-right: 0px;
}

.panel .panel-heading .panel-title > button {
  text-align: right;
}

.panel .panel-heading .panel-title > button:after {
  right: auto;
  left: -20px;
}

.Contact-page-contact-info .bottom-contact-info li a span {
  font-family: 'Almarai', sans-serif;
}

.owl-carousel {

  direction: ltr;
}


.gsc-carousel-content .item .item-content .content-box .content-inner {
  direction: rtl;
}

.mission-vision-about-page .content-box .content-inner .desc {
  line-height: 1.8 !important;
}

.search-content-close {

  left: 0px;
  right: auto;

}


#search-block-form input.form-submit {

  margin-right: 5px;

}

.nav-tabs > li {
  float: right;
  margin-bottom: -1px;
}

.services-departments-view .item-columns {
  float: right !important;
}

.meet-our-doctors-view .item-columns {

  float: right;
}

.sidebar-right {

  float: left;
}

/*.main-content {*/
/*  float: right;*/
/*}*/

ul {
  margin: 0;
  padding-left: 0px;
  padding-right: 30px;

}

@media (min-width: 992px) {
  .navigation .gva_menu > li > a {

    padding: 20px 18px;

  }
}

.webform-submission-form .form-item {
  margin-bottom: 0px;
  position: relative;
  float: right;
}

.lg-outer {
  direction: ltr;
}

.find-doctor-view .item-columns {
  float: right;
}

.Contact-page-contact-info .bottom-contact-info li a::before {
  right: 0;
  left: auto;
}

.Contact-page-contact-info .bottom-contact-info li a {

  padding-right: 20px;
  padding-left: 0px;
}

@media (max-width: 991px) {
  .gva-offcanvas-mobile .gva-navigation .gva_menu li a .icaret {

    left: -15px;
    right: auto;

  }
}


.dep-banner-bg {

  background-repeat: no-repeat;

  background-position: right center;
}

.ui-widget {

  font-family: 'Almarai', sans-serif;

}

.language-switcher-language-url ul {

  list-style: none;
  font-family: 'Work Sans', sans-serif;

  padding: 0px;
  float: left;
}

.language-switcher-language-url ul li a {

  padding: 5px;
  font-size: 14px;

}

.blogpage .post-title a {

  color: #126798;
}

.blogpage .post-content {
  direction: rtl;
  text-align: right;
  font-size: inherit;
}

.blogpage .post-content .post-body {
  font-size: inherit;
}

.blogpage .post-image img {
  border: solid 3px #f6f6f6;
  margin-top: 20px;


}

.blogpage .item-columns {

  float: right;
}

.blogpage .post-title a:hover {
  color: #f7941d;
}

.rev_slider li {

  direction: ltr;
}


.post-style-list .post-block .post-image {
  float: right;
}

.post-style-list.small .post-content {
  padding-right: 105px;
  padding-left: 0px;

  float: none;
  width: 100%;
}


.news-letters-list.small .post-content {
  padding-right: 165px;
  float: none;
  width: 100%;
  padding-left: 0px;
}

.text-left {
  text-align: right;
}